#header{
	border-bottom:2px solid black;
	height:40px
}
#header ul li{
	display: inline-block;
	margin:10px;
}

#edgeLineList{
	display:none;
}

#nodeLineList {
	display:none;
}

.selectedItem{
	color:red;
}

#editLineContainer{
	display:none
}