@main("Istanbul") {
@header("")
	<div style="width:700px;height:400px" id="map-canvas"></div>
	<div>
		routes
		<div id="routeBtnDiv">
		</div>
	</div>
    <script>
    	var toMarker;
    	var fromMarker;
    	var map;
    	var routes;
    	var routePaths = [];
    	var routeMarkers = [];
		function initialize() {
		  var myLatlng = new google.maps.LatLng(41.023557,29.002018);
		  var mapOptions = {
		    zoom: 12,
		    center: myLatlng
		  }
		  map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
		  
		  google.maps.event.addListener(map, "click", function(event) {
		      clickEvent(event.latLng)		      
		  });

        	
    	}

		var clickEvent = function(latlng){
			if(fromMarker){
				if(toMarker){
					toMarker.setMap(null);
					toMarker=null;
					fromMarker.setMap(null);
					fromMarker=null;
					fromMarker = new google.maps.Marker({
						position: latlng,
						map: map,
						title: 'from'
					});
					
				}else{
					toMarker = new google.maps.Marker({
						position: latlng,
						map: map,
						title: 'to'
					});
					findPath();
					
				}
			}else{
				fromMarker = new google.maps.Marker({
					position: latlng,
					map: map,
					title: 'from'
				});
			}
			
		}
		
		var clearMap = function(){
			for (var i = 0; i < routePaths.length; i++ ) {
				routePaths[i].setMap(null);
			}
			routePaths = [];
			for (var i = 0; i < routeMarkers.length; i++ ) {
				routeMarkers[i].setMap(null);
			}
			routeMarkers = [];
		}
		
		var drawRoute = function(route){
			clearMap();
        	var flightPlanCoordinates = [];
         	var newPoint = new google.maps.LatLng(route[0].source.lat, route[0].source.lng);
			var newMarker = new google.maps.Marker({
				position: newPoint,
				map: map,
				title: route[0].source.label
			});
			routeMarkers.push(newMarker);
        	flightPlanCoordinates.push(newPoint);
        	var line = route[0].line.label;
        	var lineId = 0;
        	var colors = ['blue','red','green','black'];
        	 
    		for(var edgeIndex = 0; edgeIndex < route.length; edgeIndex++){
    			
    			if(line === route[edgeIndex].line.label){					
	             	var newPoint = new google.maps.LatLng(route[edgeIndex].target.lat, route[edgeIndex].target.lng);
	    			var newMarker = new google.maps.Marker({
	    				position: newPoint,
	    				map: map,
	    				title: route[edgeIndex].target.label
	    			});
	    			routeMarkers.push(newMarker);
	             	flightPlanCoordinates.push(newPoint);
				}else{
					var routePath = new google.maps.Polyline({
			              path: flightPlanCoordinates,
			              geodesic: true,
			              strokeColor: colors[lineId],
			              strokeOpacity: 1.0,
			              strokeWeight: 4
			        });
			     	routePath.setMap(map);
			     	routePaths.push(routePath);
			     	flightPlanCoordinates = [];
	             	flightPlanCoordinates.push(new google.maps.LatLng(route[edgeIndex].source.lat, route[edgeIndex].source.lng));
	             	var newPoint = new google.maps.LatLng(route[edgeIndex].target.lat, route[edgeIndex].target.lng);
	             	flightPlanCoordinates.push(newPoint);
	    			var newMarker = new google.maps.Marker({
	    				position: newPoint,
	    				map: map,
	    				title: route[edgeIndex].target.label
	    			});
	    			routeMarkers.push(newMarker);
	             	line = route[edgeIndex].line.label;
			     	lineId++;
				}
    		} 

			var routePath = new google.maps.Polyline({
	              path: flightPlanCoordinates,
	              geodesic: true,
	              strokeColor: colors[lineId],
	              strokeOpacity: 1.0,
	              strokeWeight: 4
	        });
	     	routePath.setMap(map);
	     	routePaths.push(routePath);
		}
		
		var findPath = function(){
			console.log("find path");
		    $.ajax({
		    	type : 'GET',
		    	contentType:'text/plain',
		    	url : '/findPath',
		    	data : {
		        	'fromLat': fromMarker.getPosition().lat(),'fromLng': fromMarker.getPosition().lng(),'toLat': toMarker.getPosition().lat(),'toLng': toMarker.getPosition().lng()
		       	},
		        success : function(data) {
		        	routes = data;
		        	$("#routeBtnDiv").empty();
		        	for(var i = 0; i < data.length; i++) {
		        		var routeDetail = "";
		        		var line = "";
		        		for(var ei = 0; ei < routes[i].edges.length; ei++){
		        			if(line != routes[i].edges[ei].line.label){
			        			routeDetail = routeDetail+" -> "+routes[i].edges[ei].line.label;	
			        			line = routes[i].edges[ei].line.label;
		        			}
		        		}
		        		routeDetail = routeDetail+" ("+routes[i].duration+"mins)";
			        	$("#routeBtnDiv").append("<br/><br/><div style='margin-left:20px;display:inline;cursor:pointer' data-route='"+i+"'>"+routeDetail+"</div>");	
		        	}
		        	$("#routeBtnDiv div").on('click',function(){
		        		drawRoute(routes[$(this).data("route")].edges);
		        	})
		        	if(routes[0]){
		        		drawRoute(routes[0].edges);
		        	}else{
		        		clearMap();
		        		alert("rota bulunamadi");
		        	}
		        }
		    });
		}
		
		google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    
}
