@(lineParserForm: Form[(String,String)], result:List[NodeData])
@import helper._
@main("Parse Line") {
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="@routes.Application.index">JourneyPlanner</a>
    </div>
	<div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
    	<li><a href = "@routes.Provision.lines">Lines</a></li>
    	<li><a href = "@routes.Provision.nodes">Nodes</a></li>
    	<li class="active"><a href = "@routes.Import.parseLinePage">Parse</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="@routes.Provision.logout">Logout</a></li>
      </ul>
    </div>
  </div><!-- /.container-fluid -->
</nav>

    <span style="color:red">@lineParserForm.errors.mkString("-")</span>
    
    <h2>Parse a new line</h2>
    
    @form(routes.Import.parseLineData) {
        
        @inputText(lineParserForm("label")) 
        @inputText(lineParserForm("url"))
        <input type="submit" value="Parse">
        
    }
    
    <h2>Result</h2>
        @result.map { node =>
            <li>
                @node.label ->  ( @node.lat ,  @node.lng)

            </li>
        }
  
}
